body {
    background-color: snow;
}

h1 {
    font-size: 4rem;
    text-align: center;
    background-color: pink;
    color: white;
    padding: 3rem 2rem;
}


.titulo {
    font-size: 4rem;
    text-align: center;
    background-color: pink;
    color: white;
    padding: 3rem 2rem;
}

.card {
    background-color: rgb(255, 225, 244);
}

.boton {
    background-color: pink;
}


footer {
    background-color: #ffecf9;
    padding: 3rem;
    color: black;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: cornflowerblue;
}