body {
    background-color: rgb(255, 225, 244);
}

h1 {
    font-size: 4rem;
    text-align: center;
    background-color: rgb(255, 225, 244);
    color: white;
    padding: 3rem 2rem;
}

.titulo {
    font-size: 4rem;
    text-align: center;
    background-color: pink;
    color: white;
    padding: 3rem 2rem;
}

.card {
    background-color: rgb(255, 225, 244);
}

.boton {
    background-color: pink;
}