body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.custom-header {
    background-color: rgb(253, 191, 230); 
}

.container {
    max-width: 37.5rem;
    margin: 3.125rem auto;
    padding: 1.25rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.313rem;
}

#titulo {
    font-size: 5rem;
    text-align: center;
    background-color: rgb(255, 225, 244);
    color: black;
    padding: 3rem 2rem;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 15px;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #ffddf6;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #ffc4f0;
}

.gracias {
    text-align: center;
    font-family: "Allura", cursive;
}

footer {
    background-color:  rgb(255, 225, 244);
    padding: 3rem;
    color: black;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: cornflowerblue;
}