body {
    background-color: snow;
}

.custom-header {
    background-color: rgb(253, 191, 230); 
}

.card-body {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
}

.card-text {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
}

.card img {
    width: 55rem; 
    display: block; 
    margin-left: auto; 
}


#titulo {
    font-size: 5rem;
    text-align: center;
    background-color: rgb(255, 225, 244);
    color: black;
    padding: 3rem 2rem;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal
}


footer {
    background-color: rgb(255, 225, 244);
    padding: 3rem;
    color: black;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: cornflowerblue;
}